/* 首页 */


/* 登录 */
.qa-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* width: 800px; */
    height: 600px;
    /* height: 80%; */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    
    border: 3px solid rgba(46, 120, 240, 0.833);
    box-shadow: 0 0 30px rgba(134, 175, 242, 0.833);
    border-radius: 15%;
}

.qa-frame .title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 华文新魏;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.888);
}

.qa-frame textarea,
.qa-frame input {
    margin-top: 30px;
    padding-left: 20px;
    height: 40px;
    width: 80%;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.qa-frame .qa-content textarea {
    height: 250px;
}

.qa-frame .qa-title,
.qa-frame .qa-content {
    position: relative;
}

.qa-frame button {
    margin-top: 30px;
    padding: 0 50px;
    border: 0;
    height: 50px;
    font-size: 16px;
    background-color: rgba(2, 204, 255, 0.2);
    border: 3px solid rgba(46, 120, 240, 0.4);
    color: white;

    border-radius: 20%;

    cursor: pointer;
}

.qa-frame button:hover {
    box-shadow: 0 0 30px rgba(134, 175, 242, 0.833);
}
