/* 首页 */


/* 注册 */
.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 600px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    
    border: 3px solid rgba(46, 120, 240, 0.833);
    box-shadow: 0 0 30px rgba(134, 175, 242, 0.833);
    border-radius: 15%;
}

.register .title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 华文新魏;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.888);
}

.register input {
    margin-top: 40px;
    padding-left: 80px;
    height: 40px;
    width: 370px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.register .ecode button {
    position: absolute;
    top: 20px;
    right: 211px;
    height: 40px;
    font-size: 14px;
}

.register .ecode input,
.register .account input {
    padding-left: 100px;
}

.register .checkpwd input {
    padding-left: 120px;
}

.register>div {
    position: relative;
}

.register p{
    position: absolute;
    top: 46px;
    left: 228px;
    font-size: 20px;
    color: #fff;
}

.register button {
    margin-top: 20px;
    margin-left: 100px;
    padding: 0 8px;
    border: 0;
    height: 50px;
    font-size: 16px;
    background-color: rgba(2, 204, 255, 0.2);
    border: 3px solid rgba(46, 120, 240, 0.4);
    color: white;

    border-radius: 20%;

    cursor: pointer;
}

.register button:hover {
    box-shadow: 0 0 30px rgba(134, 175, 242, 0.833);
}

.register .loginB {
    width: 100px;
    margin-left: -1px;
}
