<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D打印机远程管理平台·注册</title>
    <link rel="stylesheet" href={{ url_for("static", filename="/css/base.css") }} >
    <link rel="stylesheet" href={{ url_for("static", filename="/css/common.css") }} >
    <link rel="stylesheet" href={{ url_for("static", filename="/css/register.css") }}>
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>

</head>

<body>
    <!-- 置顶栏 -->
    <div class="header">
        <div class="content">
            <h1 class="title">3D打印机远程管理平台</h1>

            <div class="middle">
                <ul>
                    <li><a href="#">首页<div class="line"></div></a></li>
                    <li><a href="{{ url_for('qa.public_question') }}">BUG问答区<div class="line"></div></a></li>
                    <li>
                        <input type="text" placeholder="请输入关键字">
                    </li>
                    <li>
                        <button type="button"></button>
                    </li>
                </ul>

            </div>

            <div class="right">
                <ul>
                   {% if user %}
                    <li><span>{{ user.username }}<div class="line"></div></span></li>
                    <li><a href="{{ url_for('auth.logout_user') }}#">退出登录<div class="line"></div></a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login_user') }}">登录<div class="line"></div></a></li>
                    <li><a href="{{ url_for('auth.register_user') }}">注册<div class="line"></div></a></li>
                    {% endif %}
                    <li><a href="https://panzer-jack.cn/">关于<div class="line"></div></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 注册框 -->
    <form method="POST">
        <div class="register">
            <h2 class="title">3D打印机远程管理平台·注册</h2>
            <div class="email">
                <p>邮箱 |</p>
                <input type="text" id="email" name="email">
            </div>
            <div class="ecode">
                <p>验证码 |</p>
                <button type="button" id="ecode" name="captcha">获取验证码</button>
                <input type="text" name="captcha">
            </div>
            <div class="account">
                <p>用户名 |</p>
                <input type="text" name="username">
            </div>
            <div class="password">
                <p>密码 |</p>
                <input type="text" name="password">
            </div>
            <div class="checkpwd">
                <p>确认密码 |</p>
                <input type="text" name="password_confirm">
            </div>
            <button type="submit" class="">立即注册</button>
            <a href="{{ url_for('auth.login_user') }}"><button type="button" class="registerB">我已经有帐号了！</button></a>
        </div>
    </form>
    
</body>

</html>